/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
    width: 800px;
    padding: 30px;
}
#pd { font-size:150%; 
    text-align: center;
    padding: 0px 300px;}
#ti {width:650px;}
#des {width:700px;
      height:100px;}
#city {width:300px;
       margin-bottom: 100px}
#rate {width:50px;}
fieldset {border:dashed 1px}
p, div {padding: 10px 20px;}
div {border:dotted 1px;
     width:300px;
     margin:10px;
     float:right;}
input { border:dotted 1px }
.sub { text-align: center; }